
<div class="table-container">
  <div class="table-header">
    <h2>Clientes</h2>
  </div>
  <div *ngIf="loading" class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loading && dataSource.length === 0" class="no-data">
    <p>No se encontraron clientes. ¡Ingresa tu primer cliente!</p>
  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Nombre -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let customer">
        <a [routerLink]="['/customers', customer.id]" class="customer-link">
          {{ customer.name }}
        </a>
      </td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let customer">
        {{ customer.email }}
      </td>
    </ng-container>

    <!-- Estado -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let customer">
        <span class="status-badge" [ngClass]="customer.status">
          {{ customer.status | titlecase }}
        </span>
      </td>
    </ng-container>



    <!-- Acciones -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let customer" class="actions-cell">
        <button mat-icon-button color="primary"
                [routerLink]="['/customers', customer.id]"
                matTooltip="Ver detalles">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="warn"
                (click)="deleteCustomer(customer.id!)"
                matTooltip="Eliminar cliente">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="warn"
                (click)="acceptCustomer(customer.id!)"
                matTooltip="Aceptar cliente">
          <mat-icon>done</mat-icon>
        </button>
                <button mat-icon-button color="warn"
                (click)="rejectCustomer(customer.id!)"
                matTooltip="Aceptar cliente">
          <mat-icon>block</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header y filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button color="accent" routerLink="/customers/new" class="add-button">
    <mat-icon>person_add</mat-icon>
    <span>Agregar Cliente</span>
  </button>
</div>
